services:
  node:
    container_name: node
    image: node:25-bookworm-slim
    user: "node"
    working_dir: /workspace
    ports:
      - "3000:3000"
    environment:
      - CHOKIDAR_USEPOLLING=true
    volumes:
      - ./:/workspace
    command: tail -f /dev/null
    depends_on:
      - mongo
    networks:
      - backend
  mongo:
    container_name: mongo
    image: mongo:latest
    restart: unless-stopped
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
      MONGO_INITDB_DATABASE: appdb
    volumes:
      - ./mongo-data:/data/db
    networks:
      - backend

volumes:
  mongo-data:

networks:
  backend:
